*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
@media screen and (max-width:1400px){
    
}
@media screen and (max-width:1200px){

}
@media screen and (max-width:992px){
    html{
        font-size: 55.5%;
    }
}
@media screen and (max-width:768px){
    html{
        font-size: 45.5%;
    }
}
@media screen and (max-width:576px){
    html{
        font-size: 23.5%;
    }
}